body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
  }

  .header{
    background-color: #45a049;
    margin: 0;
    height: 60px;
    top: -21px;
    position: relative;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
  }
  
  .product-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .product-card {
    width: 300px;
    background-color: #9e9e9e;
    border-radius: 5px;
    padding: 20px;
    text-align: center;
    transition: all .5s ;
  }
  .product-card:hover{
    box-shadow: black 20px 20px 15px;
    
  }

  .product-card img {
    width: 200px;
    height: auto;
    margin-bottom: 10px;
  }
  
  .product-card h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  .product-card .price {
    font-size: 16px;
    margin-bottom: 10px;
  }
  
  .product-card button {
    background-color: #4caf50;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .product-card button:hover {
    background-color: #45a049;
  }
  
  #cart {
    margin: 20px auto;
    padding: 20px;
    text-align: center;
    background-color: #868686;
    border-radius: 5px;
    width: 300px;
   
  }
  
  #cart h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  #cart ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  #cart li {
    margin-bottom: 5px;
  }
  
  #cart li:last-child {
    font-weight: bold;
  }
  #cart #vaciarcarrito{
    background-color: red;
  }
  #cart #comprar{
    background-color: green;
  }
  #cart button{
  
    
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
  }
  footer{
    background-color: #45a049;
    height: 60px;
  }
  
  En este ejemplo, hemos definido estilos CSS para los contenedores principales, las cartas de productos y el carrito de compras. Puedes aplicar estos estilos incluyendo el código CSS en la etiqueta <style>
  
  
  